{{> head}}

{{> navbar}}

    <div class="row">

        <div class="col-8">
            <h1>Overwatch</h1>
            <p>
                Overwatch es un juego de disparos en primera persona multijugador basado en equiposdesarrollado y publicado por Blizzard Entertainment . Descrito como un " héroe tirador ", Overwatch asigna a los jugadores en dos equipos de seis, y cada jugador selecciona de una lista de más de 30 personajes., conocidos como "héroes", cada uno con un estilo de juego único que se divide en tres roles generales que se ajustan a su propósito. Los jugadores de un equipo trabajan juntos para asegurar y defender los puntos de control en un mapa o escoltar una carga útil a través del mapa en un tiempo limitado. Los jugadores obtienen recompensas cosméticas que no afectan el juego, como las máscaras de personajes y las poses de victoria, mientras juegan. 
            </p>

        </div>

        <div class="col-4">
            <img src="assets/css/img/hola.jpeg" class="img-thumbnail" alt="Imagen de Overwatch">
        </div>
    </div>

{{> footer}}